export(PuigDistribution)
export(MB)
export(Puig_pdf, Puig_logpdf)
export(Puig_surviving, Puig_cumulative, Puig_hazard)
export(Puig_mean, Puig_var, Puig_std, Puig_skewness, Puig_kurtosis)
export(Puig_moments, Puig_stats)
export(Puig_quantile, Puig_ci98, Puig_ci996, Puig_entropy)
export(Puig_rand)
export(marcumq, marcumq_asymp, besselix_asymp)
export(MB_pdf, MB_surviving, MB_cumulative)
export(Puig_fit)
export(effective_dimension, empirical_survival)
export(calc_r2, calc_mae, calc_rmse, calc_maxae, calc_iae, calc_all_metrics)
export(Puig_plot)
export(dpuig, ppuig, qpuig, rpuig)
export(kummer_M_stable, laguerre_real)

S3method(print, PuigDistribution)
S3method(print, MB)
S3method(print, PuigStats)
S3method(print, PuigFitResult)
S3method(`[[`, PuigFitResult)

importFrom(stats, pchisq, rchisq, rgamma, pgamma)
importFrom(stats, optimize, optim)
importFrom(stats, cor, sd, var, complete.cases, quantile, median)